{% extends 'user_auth/base.html' %}

{% block content %}
<div style="padding: 10px">
    <h1 class="h2 mb-3 fw-normal">Details Form</h1>
    <h5>
        <a href="{% url 'logout' %}">Logout</a>
    </h5>
</div>
<div class="row bg-dark bg-gradient text-white" style="padding: 10px">
    <p>
        Please, fill your details into the form below
    </p>
    <form method="POST" action="">
        {% csrf_token %}

        {{ form.as_p }}

        <input class="w-10 btn btn-lg btn-primary" type="submit" value="Submit">
    </form>
</div>
{% endblock content %}